@font-face {
  font-family: 'TeX-Gyre-Heros';
  src: url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.eot");
  src: url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.eot?iefix") format("eot"), url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.woff") format("woff"), url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.ttf") format("truetype"), url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.svg#webfont") format("svg");
}

/* line 24, ../sass/screen.scss */
.clearfix:after {
  content: " ";
}

/* line 29, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 35, ../sass/screen.scss */
body {
  font-family: "ff-basic-gothic-web-pro", sans-serif;
  letter-spacing: -0.6px;
  font-weight: 400;
  color: #2c318b;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

/* line 45, ../sass/screen.scss */
a,
a:visited,
li a.active {
  color: #2c318b;
  text-decoration: underline;
}

/* line 50, ../sass/screen.scss */
a:not([href]) {
  text-decoration: none;
}

/* line 55, ../sass/screen.scss */
tbody {
  border-top: 0;
}

/* line 60, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 65, ../sass/screen.scss */
#page-wrapper {
  position: relative;
}

/* line 70, ../sass/screen.scss */
a#logo img {
  margin-top: 60px;
  margin-bottom: 20px;
  max-width: 100%;
}
/* line 76, ../sass/screen.scss */
a#logo img.logo2 {
  display: none;
}

/* line 82, ../sass/screen.scss */
#block-system-main-menu {
  float: left;
  position: fixed;
  z-index: 1;
}
/* line 88, ../sass/screen.scss */
#block-system-main-menu .content > ul {
  list-style: none;
  width: 240px;
}
/* line 93, ../sass/screen.scss */
#block-system-main-menu .content > ul > li {
  list-style: none;
  width: 100%;
  height: 74px;
  display: table-row;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 103, ../sass/screen.scss */
#block-system-main-menu .content > ul > li > div {
  display: table-cell;
  vertical-align: middle;
  color: white;
  position: relative;
}
/* line 110, ../sass/screen.scss */
#block-system-main-menu .content > ul > li > div a {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  display: block;
  height: 100%;
  padding-left: 85px;
  padding-right: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 20px center;
}
/* line 123, ../sass/screen.scss */
#block-system-main-menu .content > ul > li > div a:hover {
  opacity: 0.85;
}
/* line 132, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div {
  left: 8px;
}
/* line 136, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div > a {
  margin-left: -8px;
}
/* line 142, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div:before {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  left: -8px;
  top: -1px;
  background: url(../images/menu-active-shadow-top.png) repeat-x;
  background: rgba(0, 0, 0, 0.05);
}
/* line 155, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div:after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 6px;
  left: -8px;
  top: 100%;
  background: url(../images/menu-active-shadow-bottom.png) repeat-x;
  z-index: 1;
}
/* line 168, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail ul {
  margin-left: -8px;
}
/* line 174, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.expanded:hover > div > a:before {
  display: block;
  content: " ";
  position: absolute;
  right: 36px;
  top: 50%;
  margin-top: -4px;
  border-left: 8px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
/* line 187, ../sass/screen.scss */
#block-system-main-menu .content > ul > li:hover ul {
  display: block;
}
/* line 192, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 100;
  padding: 15px 0;
}
/* line 201, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li {
  display: block;
  height: auto;
  padding: 0;
  margin: 0;
}
/* line 208, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li div {
  display: block;
}
/* line 213, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li a {
  padding: 12px 35px;
  background-image: none!important;
}
/* line 218, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li a:hover {
  opacity: 0.85;
}
/* line 230, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.mandr, #block-system-main-menu .content > ul > li.mandr > div,
#block-system-main-menu .content > ul > li.mandr ul {
  background-color: #2b388e;
}
/* line 235, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.mandr a {
  background-image: url(../images/icons/mandr.png);
}
/* line 244, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.auto, #block-system-main-menu .content > ul > li.auto > div,
#block-system-main-menu .content > ul > li.auto ul {
  background-color: #2b3e92;
}
/* line 249, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.auto a {
  background-image: url(../images/icons/auto.png);
}
/* line 258, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.home, #block-system-main-menu .content > ul > li.home > div,
#block-system-main-menu .content > ul > li.home ul {
  background-color: #2a4597;
}
/* line 263, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.home a {
  background-image: url(../images/icons/home.png);
}
/* line 272, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.commercial, #block-system-main-menu .content > ul > li.commercial > div,
#block-system-main-menu .content > ul > li.commercial ul {
  background-color: #294e9d;
}
/* line 277, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.commercial a {
  background-image: url(../images/icons/commercial.png);
}
/* line 286, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.yourtoys, #block-system-main-menu .content > ul > li.yourtoys > div,
#block-system-main-menu .content > ul > li.yourtoys ul {
  background-color: #2957a3;
}
/* line 291, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.yourtoys a {
  background-image: url(../images/icons/your-toys.png);
}
/* line 300, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.specialevents, #block-system-main-menu .content > ul > li.specialevents > div,
#block-system-main-menu .content > ul > li.specialevents ul {
  background-color: #286bb0;
}
/* line 305, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.specialevents a {
  background-image: url(../images/icons/special-events.png);
}
/* line 314, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.life, #block-system-main-menu .content > ul > li.life > div,
#block-system-main-menu .content > ul > li.life ul {
  background-color: #286bb0;
}
/* line 319, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.life a {
  background-image: url(../images/icons/life.png);
}
/* line 328, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.group, #block-system-main-menu .content > ul > li.group > div,
#block-system-main-menu .content > ul > li.group ul {
  background-color: #2774b6;
}
/* line 333, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.group a {
  background-image: url(../images/icons/group.png);
}
/* line 342, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.advantage, #block-system-main-menu .content > ul > li.advantage > div,
#block-system-main-menu .content > ul > li.advantage ul {
  background-color: #267dbc;
}
/* line 347, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.advantage a {
  background-image: url(../images/icons/advantage.png);
}
/* line 356, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.contactus, #block-system-main-menu .content > ul > li.contactus > div,
#block-system-main-menu .content > ul > li.contactus ul {
  background-color: #2685c1;
}
/* line 361, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.contactus a {
  background-image: url(../images/icons/contact.png);
}
/* line 370, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.travel, #block-system-main-menu .content > ul > li.travel > div,
#block-system-main-menu .content > ul > li.travel ul {
  background-color: #2860a9;
}
/* line 375, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.travel a {
  background-image: url(../images/icons/travel.png);
}
/* line 384, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.report, #block-system-main-menu .content > ul > li.report > div,
#block-system-main-menu .content > ul > li.report ul {
  background-color: #2774b6;
}
/* line 389, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.report a {
  background-image: url(../images/icons/report.png);
}
/* line 398, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.careers, #block-system-main-menu .content > ul > li.careers > div,
#block-system-main-menu .content > ul > li.careers ul {
  background-color: #267dbc;
}
/* line 403, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.careers a {
  background-image: url(../images/icons/careers.png);
}
/* line 408, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last {
  font-family: "ff-basic-gothic-web-pro", sans-serif !important;
  font-size: 10px !important;
}
/* line 411, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last, #block-system-main-menu .content > ul > li.last > div {
  background: #2592ca url(../images/broker-small.png) no-repeat 30px center;
}
/* line 418, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last a {
  font-family: "ff-basic-gothic-web-pro", sans-serif !important;
  font-size: 10px !important;
  padding: 0;
  display: inline;
}
/* line 427, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last #copyright,
#block-system-main-menu .content > ul > li.last #site-by-cci {
  display: block;
  padding-left: 70px;
  color: #d3e7f1;
}
/* line 433, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last #copyright a,
#block-system-main-menu .content > ul > li.last #site-by-cci a {
  color: #d3e7f1;
}

/* line 443, ../sass/screen.scss */
.region-header {
  position: absolute;
  top: 22px;
  right: -48px;
  width: 100%;
}

/* line 451, ../sass/screen.scss */
#block-menu-menu-locations-menu {
  position: absolute;
  right: 48px;
  top: 0;
}
/* line 457, ../sass/screen.scss */
#block-menu-menu-locations-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 463, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #2c318b;
}
/* line 471, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li.last {
  border-right: 0;
}
/* line 475, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li.last a {
  margin-right: 0;
}
/* line 481, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li a {
  margin: 0 10px;
  font-size: 17px;
  text-decoration: none;
}
/* line 487, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li a:hover {
  text-decoration: underline;
}

/* line 496, ../sass/screen.scss */
#block-block-5 {
  position: absolute;
  top: 33px;
  right: 188px;
  display: none;
}
/* line 503, ../sass/screen.scss */
#block-block-5 a#menu-button {
  display: block;
  width: 95px;
  height: 33px;
  color: transparent;
  font-size: 0;
  background: url(../images/menu-button.png) no-repeat;
}

/* line 514, ../sass/screen.scss */
#block-menu-menu-social-menu {
  position: absolute;
  top: 33px;
  right: 48px;
  margin-right: -3px;
}
/* line 521, ../sass/screen.scss */
#block-menu-menu-social-menu ul {
  list-style: none;
}
/* line 525, ../sass/screen.scss */
#block-menu-menu-social-menu ul li {
  list-style: none;
  float: left;
  margin: 0 3px 0 0;
  padding: 0;
}
/* line 532, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a {
  display: block;
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
  width: 32px;
  height: 33px;
}
/* line 541, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.facebook {
  background-image: url(../images/facebook.png);
}
/* line 545, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.twitter {
  background-image: url(../images/twitter.png);
}
/* line 549, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.youtube {
  background-image: url(../images/youtube.png);
}
/* line 553, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.linkedin {
  background-image: url(../images/linkedin.png);
}

/* line 562, ../sass/screen.scss */
#block-block-1 a {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 569, ../sass/screen.scss */
h1#page-title {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 12px;
  background: url(../images/title-border.png) repeat-x bottom;
  display: inline-block;
}

/* line 579, ../sass/screen.scss */
#page-wrapper {
  margin-left: 240px;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  overflow: hidden;
}
/* line 587, ../sass/screen.scss */
#page-wrapper #page {
  margin-left: 80px;
  margin-right: 80px;
  position: relative;
}

/* line 595, ../sass/screen.scss */
#bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* line 602, ../sass/screen.scss */
#bg.bgwidth {
  width: 100%;
}

/* line 603, ../sass/screen.scss */
#bg.bgheight {
  height: 100%;
}

/* line 607, ../sass/screen.scss */
#block-system-main {
  width: 50%;
  min-width: 300px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px rgba(0, 8, 49, 0.3);
}
/* line 619, ../sass/screen.scss */
#block-system-main p {
  margin-bottom: 0.8em;
}
/* line 624, ../sass/screen.scss */
#block-system-main ul, #block-system-main ol {
  margin: 0.8em 0 0.8em 20px;
}
/* line 629, ../sass/screen.scss */
#block-system-main .field-name-body .field-item :last-child {
  margin-bottom: 0;
}

/* line 634, ../sass/screen.scss */
.front #block-system-main {
  margin-bottom: 0;
}

/* line 641, ../sass/screen.scss */
#widgets > div {
  display: table;
  border-spacing: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 648, ../sass/screen.scss */
#widgets > div > div {
  display: table-row;
}
/* line 654, ../sass/screen.scss */
#widgets .block {
  display: table-cell;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px rgba(0, 8, 49, 0.3);
  text-align: center;
  min-height: 100px;
  width: 33%;
}
/* line 664, ../sass/screen.scss */
#widgets .block > div {
  padding: 25px 20px;
}
/* line 669, ../sass/screen.scss */
#widgets .block h2 {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 94px 0 10px 0;
  border-bottom: 1px solid #8fc6e2;
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 682, ../sass/screen.scss */
#widgets .block#block-block-2 h2 {
  background-image: url(../images/get-quote.png);
}
/* line 690, ../sass/screen.scss */
#widgets .block#block-block-3 h2 {
  background-image: url(../images/abc.png);
}
/* line 696, ../sass/screen.scss */
#widgets .block#block-block-4 {
  margin-right: 0;
}
/* line 700, ../sass/screen.scss */
#widgets .block#block-block-4 h2 {
  background-image: url(../images/mr-widget.png);
}
/* line 706, ../sass/screen.scss */
#widgets .block a {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  color: #168ec9;
  text-decoration: none;
  font-size: 24px;
  margin-top: 20px;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 719, ../sass/screen.scss */
#widgets2 {
  clear: both;
}
/* line 723, ../sass/screen.scss */
#widgets2 #block-block-6 {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  clear: both;
  font-size: 24px;
  color: #2c318b;
  line-height: 50px;
  text-align: center;
  background-color: white;
}
/* line 733, ../sass/screen.scss */
#widgets2 #block-block-6 img {
  vertical-align: baseline;
}
/* line 739, ../sass/screen.scss */
#widgets2 .view-brokers {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-weight: 600;
}
/* line 746, ../sass/screen.scss */
#widgets2 .view-brokers .view-content {
  position: relative;
}
/* line 751, ../sass/screen.scss */
#widgets2 .view-brokers .views-row {
  position: relative;
  float: left;
  width: 50%;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 760, ../sass/screen.scss */
#widgets2 .view-brokers .views-row:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: white;
  z-index: 1;
}
/* line 774, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field {
  width: 36%;
  max-width: 250px;
  margin-left: 14%;
}
/* line 780, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field a {
  color: white;
  text-decoration: none;
}
/* line 785, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field a:hover {
  text-decoration: underline;
}
/* line 794, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-title,
#widgets2 .view-brokers .views-row .views-field-field-short-summary,
#widgets2 .view-brokers .views-row .views-field-path {
  position: relative;
  z-index: 1;
}
/* line 800, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-title {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 807, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-field-short-summary {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 813, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-field-short-summary p {
  margin-bottom: 0.8em;
}
/* line 819, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-path {
  font-size: 12px;
  font-style: italic;
}
/* line 825, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-field-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: auto;
}
/* line 838, ../sass/screen.scss */
#widgets2 .arrow-left,
#widgets2 .arrow-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
}
/* line 846, ../sass/screen.scss */
#widgets2 .arrow-left {
  left: 1.5%;
}
/* line 850, ../sass/screen.scss */
#widgets2 .arrow-right {
  right: 1.5%;
}

/* line 858, ../sass/screen.scss */
form .form-required {
  display: none;
}
/* line 867, ../sass/screen.scss */
form input[type=text],
form input[type=email],
form input[type=date],
form input[type=password],
form input[type=number] {
  line-height: 26px;
  padding: 0 6px;
  width: 180px;
  font-size: 15px;
  color: #2c318b;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* line 880, ../sass/screen.scss */
form textarea {
  font-size: 15px;
  color: #2c318b;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* line 892, ../sass/screen.scss */
form input[type=submit],
form input[type=button],
form button {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  background: transparent;
  border: 0;
  font-size: 24px;
  color: #2592ca;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 904, ../sass/screen.scss */
form .webform-component {
  clear: left;
  overflow: hidden;
}
/* line 910, ../sass/screen.scss */
form .webform-component-radios .form-item {
  float: left;
  margin-right: 15px;
  margin-left: 1px;
}
/* line 917, ../sass/screen.scss */
form .form-actions {
  margin-bottom: 0;
}
/* line 924, ../sass/screen.scss */
form#user-login .description {
  display: none;
}

/* line 931, ../sass/screen.scss */
.page-insurance-basics #block-system-main {
  width: auto;
  min-width: initial;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
/* line 939, ../sass/screen.scss */
.page-insurance-basics #block-system-main .views-row {
  width: 32%;
  float: left;
  margin-bottom: 15px;
}
/* line 945, ../sass/screen.scss */
.page-insurance-basics #block-system-main .views-row > div {
  height: 275px;
  padding: 25px 20px 25px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px rgba(0, 8, 49, 0.3);
  text-align: center;
}
/* line 955, ../sass/screen.scss */
.page-insurance-basics #block-system-main .views-row.views-col-1, .page-insurance-basics #block-system-main .views-row.views-col-2 {
  margin-right: 2%;
}
/* line 960, ../sass/screen.scss */
.page-insurance-basics #block-system-main .views-row h2 {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 94px 0 10px 0;
  border-bottom: 1px solid #8fc6e2;
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 970, ../sass/screen.scss */
.page-insurance-basics #block-system-main .views-row h2 a {
  text-decoration: none;
}

/* line 978, ../sass/screen.scss */
.page-brokers #block-system-main {
  width: auto;
  min-width: initial;
  background-color: transparent;
  box-shadow: none;
}
/* line 986, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row {
  position: relative;
  float: left;
  width: 49%;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 994, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row > div {
  padding-right: 10px;
  padding-bottom: 10px;
}
/* line 1000, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .group {
  position: absolute;
  top: 50%;
  margin-top: -18%;
  width: 100%;
}
/* line 1010, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-title,
.page-brokers #block-system-main .view-brokers .views-row .views-field-field-short-summary,
.page-brokers #block-system-main .view-brokers .views-row .views-field-path {
  width: 36%;
  max-width: 250px;
  margin-left: 14%;
}
/* line 1016, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-title a,
.page-brokers #block-system-main .view-brokers .views-row .views-field-field-short-summary a,
.page-brokers #block-system-main .view-brokers .views-row .views-field-path a {
  color: white;
  text-decoration: none;
}
/* line 1021, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-title a:hover,
.page-brokers #block-system-main .view-brokers .views-row .views-field-field-short-summary a:hover,
.page-brokers #block-system-main .view-brokers .views-row .views-field-path a:hover {
  text-decoration: underline;
}
/* line 1028, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-title {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 1035, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-field-short-summary {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 1041, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-field-short-summary p {
  margin-bottom: 0.8em;
}
/* line 1047, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-path {
  font-size: 12px;
  font-style: italic;
}
/* line 1053, ../sass/screen.scss */
.page-brokers #block-system-main .view-brokers .views-row .views-field-field-image img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 1050px) {
  /* line 1071, ../sass/screen.scss */
  #page-wrapper #page {
    margin-left: 40px;
    margin-right: 40px;
  }

  /* line 1077, ../sass/screen.scss */
  #block-system-main {
    width: 100%;
  }

  /* line 1082, ../sass/screen.scss */
  .region-header {
    right: -8px;
    top: 5px;
  }

  /* line 1088, ../sass/screen.scss */
  #widgets > div {
    border-spacing: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* line 1096, ../sass/screen.scss */
  #widgets .block {
    margin: 10px 0 0 0 !important;
    width: auto;
    display: block;
  }

  /* line 1103, ../sass/screen.scss */
  .page-insurance-basics #block-system-main .views-row {
    width: 49%;
  }
  /* line 1108, ../sass/screen.scss */
  .page-insurance-basics #block-system-main .views-row.views-col-1, .page-insurance-basics #block-system-main .views-row.views-col-2 {
    margin-right: 0;
  }
  /* line 1113, ../sass/screen.scss */
  .page-insurance-basics #block-system-main .views-row.views-row-odd {
    margin-right: 2%;
  }
}
@media screen and (max-width: 720px) {
  /* line 1124, ../sass/screen.scss */
  #block-block-5 {
    display: block;
  }

  /* line 1131, ../sass/screen.scss */
  a#logo img.logo1 {
    display: none;
  }
  /* line 1135, ../sass/screen.scss */
  a#logo img.logo2 {
    display: inline;
  }

  /* line 1141, ../sass/screen.scss */
  #block-system-main-menu {
    display: none;
    position: absolute;
    z-index: 100;
  }
  /* line 1147, ../sass/screen.scss */
  #block-system-main-menu .content > ul li.expanded:hover > div > a:before {
    display: none;
    content: "";
  }
  /* line 1153, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul {
    display: block;
    position: static;
    padding-top: 0;
    margin-left: 0!important;
  }
  /* line 1160, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul li a {
    font-size: 15px;
    padding-left: 85px;
  }
  /* line 1167, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.active-trail > div {
    left: 0;
  }
  /* line 1172, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.active-trail > div:before, #block-system-main-menu .content > ul > li.active-trail > div:after {
    left: 0;
  }
  /* line 1177, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.active-trail > div a {
    margin-left: 0;
  }

  /* line 1183, ../sass/screen.scss */
  .nav-open #block-system-main-menu {
    display: block;
  }

  /* line 1188, ../sass/screen.scss */
  #page-wrapper {
    margin-left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 100%;
  }

  /* line 1195, ../sass/screen.scss */
  #page-wrapper #page {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* line 1201, ../sass/screen.scss */
  .region-header {
    right: 0;
    top: 5px;
  }

  /* line 1207, ../sass/screen.scss */
  #block-system-main {
    width: auto;
    min-width: initial;
    background-color: transparent;
    box-shadow: none;
  }
}
@media screen and (max-width: 540px) {
  /* line 1219, ../sass/screen.scss */
  a#logo {
    text-align: center;
    display: block;
  }
  /* line 1224, ../sass/screen.scss */
  a#logo img {
    margin-top: 90px;
  }

  /* line 1230, ../sass/screen.scss */
  .region-header {
    position: absolute;
    width: 294px;
    left: 50%;
    right: auto;
    margin-left: -147px;
  }

  /* line 1239, ../sass/screen.scss */
  #widgets .block {
    margin: 0 1% 20px 1% !important;
    width: auto;
  }

  /* line 1246, ../sass/screen.scss */
  #block-system-main-menu {
    float: none;
    width: 100%;
    top: 90px;
  }
  /* line 1252, ../sass/screen.scss */
  #block-system-main-menu .content > ul {
    display: table;
    width: 100%;
  }

  /* line 1263, ../sass/screen.scss */
  .nav-open #main-wrapper,
  .nav-open #widgets,
  .nav-open #widgets2 {
    display: none;
  }
  /* line 1268, ../sass/screen.scss */
  .nav-open #page-wrapper {
    overflow: hidden;
  }

  /* line 1274, ../sass/screen.scss */
  .page-insurance-basics #block-system-main .views-row {
    width: auto;
  }
  /* line 1278, ../sass/screen.scss */
  .page-insurance-basics #block-system-main .views-row > div {
    height: auto;
  }
  /* line 1283, ../sass/screen.scss */
  .page-insurance-basics #block-system-main .views-row.views-row-odd {
    margin-right: 0;
  }
}
/* line 1291, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 1295, ../sass/screen.scss */
body {
  height: 100%;
  overflow: scroll;
}

/* line 1300, ../sass/screen.scss */
#page-wrapper {
  overflow: visible;
}

/* line 1304, ../sass/screen.scss */
#bg-wrapper {
  overflow: hidden;
  position: fixed;
  z-index: -2;
}
