@font-face {
  font-family: 'TeX-Gyre-Heros';
  src: url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.eot");
  src: url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.eot?iefix") format("eot"), url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.woff") format("woff"), url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.ttf") format("truetype"), url("../fonts/TeX-Gyre-Heros/texgyreheroscn-bold-webfont.svg#webfont") format("svg");
}

/* line 15, ../sass/screen.scss */
.clearfix:after {
  content: " ";
}

/* line 20, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 26, ../sass/screen.scss */
body {
  font-weight: 300;
  font-family: "Century Gothic", "ff-basic-gothic-web-pro", Arial, sans-serif;
  color: #2c318b;
  background-color: white;
}

/* line 36, ../sass/screen.scss */
a,
a:visited,
li a.active {
  color: #2c318b;
  text-decoration: underline;
}

/* line 41, ../sass/screen.scss */
a:not([href]) {
  text-decoration: none;
}

/* line 46, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 51, ../sass/screen.scss */
#page-wrapper {
  position: relative;
}

/* line 56, ../sass/screen.scss */
a#logo img {
  margin-top: 60px;
  margin-bottom: 20px;
  max-width: 100%;
}
/* line 62, ../sass/screen.scss */
a#logo img.logo2 {
  display: none;
}

/* line 68, ../sass/screen.scss */
#block-system-main-menu {
  float: left;
  position: fixed;
  z-index: 1;
}
/* line 74, ../sass/screen.scss */
#block-system-main-menu .content > ul {
  list-style: none;
  width: 240px;
}
/* line 79, ../sass/screen.scss */
#block-system-main-menu .content > ul > li {
  list-style: none;
  width: 100%;
  height: 74px;
  display: table-row;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 89, ../sass/screen.scss */
#block-system-main-menu .content > ul > li > div {
  display: table-cell;
  vertical-align: middle;
  color: white;
  position: relative;
}
/* line 96, ../sass/screen.scss */
#block-system-main-menu .content > ul > li > div a {
  display: block;
  height: 100%;
  padding-left: 85px;
  padding-right: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: 20px center;
}
/* line 110, ../sass/screen.scss */
#block-system-main-menu .content > ul > li > div a:hover {
  opacity: 0.85;
}
/* line 119, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div {
  left: 8px;
}
/* line 123, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div > a {
  margin-left: -8px;
}
/* line 129, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div:before {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  left: -8px;
  top: -1px;
  background: url(../images/menu-active-shadow-top.png) repeat-x;
  background: rgba(0, 0, 0, 0.05);
}
/* line 142, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail > div:after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 6px;
  left: -8px;
  top: 100%;
  background: url(../images/menu-active-shadow-bottom.png) repeat-x;
  z-index: 1;
}
/* line 155, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.active-trail ul {
  margin-left: -8px;
}
/* line 161, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.expanded:hover > div > a:before {
  display: block;
  content: " ";
  position: absolute;
  right: 36px;
  top: 50%;
  margin-top: -4px;
  border-left: 8px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
/* line 174, ../sass/screen.scss */
#block-system-main-menu .content > ul > li:hover ul {
  display: block;
}
/* line 179, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 100;
  padding: 15px 0;
}
/* line 188, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li {
  display: block;
  height: auto;
  padding: 0;
  margin: 0;
}
/* line 195, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li div {
  display: block;
}
/* line 200, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li a {
  padding: 12px 35px;
  background-image: none!important;
}
/* line 205, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li a:hover {
  opacity: 0.85;
}
/* line 217, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.mandr, #block-system-main-menu .content > ul > li.mandr > div,
#block-system-main-menu .content > ul > li.mandr ul {
  background-color: #2b388e;
}
/* line 222, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.mandr a {
  background-image: url(../images/icons/mandr.png);
}
/* line 231, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.auto, #block-system-main-menu .content > ul > li.auto > div,
#block-system-main-menu .content > ul > li.auto ul {
  background-color: #2b3e92;
}
/* line 236, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.auto a {
  background-image: url(../images/icons/auto.png);
}
/* line 245, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.home, #block-system-main-menu .content > ul > li.home > div,
#block-system-main-menu .content > ul > li.home ul {
  background-color: #2a4597;
}
/* line 250, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.home a {
  background-image: url(../images/icons/home.png);
}
/* line 259, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.commercial, #block-system-main-menu .content > ul > li.commercial > div,
#block-system-main-menu .content > ul > li.commercial ul {
  background-color: #294e9d;
}
/* line 264, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.commercial a {
  background-image: url(../images/icons/commercial.png);
}
/* line 273, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.yourtoys, #block-system-main-menu .content > ul > li.yourtoys > div,
#block-system-main-menu .content > ul > li.yourtoys ul {
  background-color: #2957a3;
}
/* line 278, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.yourtoys a {
  background-image: url(../images/icons/your-toys.png);
}
/* line 287, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.specialevents, #block-system-main-menu .content > ul > li.specialevents > div,
#block-system-main-menu .content > ul > li.specialevents ul {
  background-color: #286bb0;
}
/* line 292, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.specialevents a {
  background-image: url(../images/icons/special-events.png);
}
/* line 301, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.life, #block-system-main-menu .content > ul > li.life > div,
#block-system-main-menu .content > ul > li.life ul {
  background-color: #286bb0;
}
/* line 306, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.life a {
  background-image: url(../images/icons/life.png);
}
/* line 315, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.group, #block-system-main-menu .content > ul > li.group > div,
#block-system-main-menu .content > ul > li.group ul {
  background-color: #2774b6;
}
/* line 320, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.group a {
  background-image: url(../images/icons/group.png);
}
/* line 329, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.advantage, #block-system-main-menu .content > ul > li.advantage > div,
#block-system-main-menu .content > ul > li.advantage ul {
  background-color: #267dbc;
}
/* line 334, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.advantage a {
  background-image: url(../images/icons/advantage.png);
}
/* line 343, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.contactus, #block-system-main-menu .content > ul > li.contactus > div,
#block-system-main-menu .content > ul > li.contactus ul {
  background-color: #2685c1;
}
/* line 348, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.contactus a {
  background-image: url(../images/icons/contact.png);
}
/* line 357, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.travel, #block-system-main-menu .content > ul > li.travel > div,
#block-system-main-menu .content > ul > li.travel ul {
  background-color: #2860a9;
}
/* line 362, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.travel a {
  background-image: url(../images/icons/travel.png);
}
/* line 371, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.report, #block-system-main-menu .content > ul > li.report > div,
#block-system-main-menu .content > ul > li.report ul {
  background-color: #2774b6;
}
/* line 376, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.report a {
  background-image: url(../images/icons/report.png);
}
/* line 385, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.careers, #block-system-main-menu .content > ul > li.careers > div,
#block-system-main-menu .content > ul > li.careers ul {
  background-color: #267dbc;
}
/* line 390, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.careers a {
  background-image: url(../images/icons/careers.png);
}
/* line 395, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last {
  font-family: "Century Gothic", "ff-basic-gothic-web-pro", Arial, sans-serif !important;
  font-size: 10px !important;
}
/* line 398, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last, #block-system-main-menu .content > ul > li.last > div {
  background: #2592ca url(../images/broker-small.png) no-repeat 30px center;
}
/* line 405, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last a {
  font-family: "Century Gothic", "ff-basic-gothic-web-pro", Arial, sans-serif !important;
  font-size: 10px !important;
  padding: 0;
  display: inline;
}
/* line 414, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last #copyright,
#block-system-main-menu .content > ul > li.last #site-by-cci {
  display: block;
  padding-left: 70px;
  color: #d3e7f1;
}
/* line 420, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last #copyright a,
#block-system-main-menu .content > ul > li.last #site-by-cci a {
  color: #d3e7f1;
}

/* line 430, ../sass/screen.scss */
.region-header {
  position: absolute;
  top: 22px;
  right: -48px;
  width: 100%;
}

/* line 438, ../sass/screen.scss */
#block-menu-menu-locations-menu {
  position: absolute;
  right: 48px;
  top: 0;
}
/* line 444, ../sass/screen.scss */
#block-menu-menu-locations-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 450, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #2c318b;
}
/* line 458, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li.last {
  border-right: 0;
}
/* line 462, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li.last a {
  margin-right: 0;
}
/* line 468, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li a {
  margin: 0 10px;
  font-size: 17px;
  text-decoration: none;
}
/* line 474, ../sass/screen.scss */
#block-menu-menu-locations-menu ul li a:hover {
  text-decoration: underline;
}

/* line 483, ../sass/screen.scss */
#block-block-5 {
  position: absolute;
  top: 33px;
  right: 188px;
  display: none;
}
/* line 490, ../sass/screen.scss */
#block-block-5 a#menu-button {
  display: block;
  width: 95px;
  height: 33px;
  color: transparent;
  font-size: 0;
  background: url(../images/menu-button.png) no-repeat;
}

/* line 501, ../sass/screen.scss */
#block-menu-menu-social-menu {
  position: absolute;
  top: 33px;
  right: 48px;
  margin-right: -3px;
}
/* line 508, ../sass/screen.scss */
#block-menu-menu-social-menu ul {
  list-style: none;
}
/* line 512, ../sass/screen.scss */
#block-menu-menu-social-menu ul li {
  list-style: none;
  float: left;
  margin: 0 3px 0 0;
  padding: 0;
}
/* line 519, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a {
  display: block;
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
  width: 32px;
  height: 33px;
}
/* line 528, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.facebook {
  background-image: url(../images/facebook.png);
}
/* line 532, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.twitter {
  background-image: url(../images/twitter.png);
}
/* line 536, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.youtube {
  background-image: url(../images/youtube.png);
}
/* line 540, ../sass/screen.scss */
#block-menu-menu-social-menu ul li a.linkedin {
  background-image: url(../images/linkedin.png);
}

/* line 549, ../sass/screen.scss */
#block-block-1 a {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 556, ../sass/screen.scss */
h1#page-title {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 12px;
  margin-bottom: 5px;
  background: url(../images/title-border.png) repeat-x bottom;
  display: inline-block;
}

/* line 567, ../sass/screen.scss */
#page-wrapper {
  margin-left: 240px;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  overflow: hidden;
}
/* line 575, ../sass/screen.scss */
#page-wrapper #page {
  margin-left: 80px;
  margin-right: 80px;
  position: relative;
}

/* line 582, ../sass/screen.scss */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* line 583, ../sass/screen.scss */
#bg.bgwidth {
  width: 100%;
}

/* line 584, ../sass/screen.scss */
#bg.bgheight {
  height: 100%;
}

/* line 588, ../sass/screen.scss */
#block-system-main {
  width: 40%;
  min-width: 300px;
}
/* line 593, ../sass/screen.scss */
#block-system-main p {
  margin-bottom: 0.8em;
}
/* line 598, ../sass/screen.scss */
#block-system-main ul, #block-system-main ol {
  margin: 0.8em 0 0.8em 20px;
}

/* line 604, ../sass/screen.scss */
#widgets {
  padding-bottom: 50px;
}
/* line 608, ../sass/screen.scss */
#widgets > div {
  display: table;
  border-spacing: 10px;
}
/* line 613, ../sass/screen.scss */
#widgets > div > div {
  display: table-row;
}
/* line 619, ../sass/screen.scss */
#widgets .block {
  /*
  width:32.5%;
  margin-right:1.25%;
  float:left;
  */
  display: table-cell;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 8, 49, 0.3);
  text-align: center;
  min-height: 100px;
}
/* line 634, ../sass/screen.scss */
#widgets .block > div {
  padding: 25px 20px;
}
/* line 639, ../sass/screen.scss */
#widgets .block h2 {
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 94px 0 10px 0;
  border-bottom: 1px solid #8fc6e2;
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 652, ../sass/screen.scss */
#widgets .block#block-block-2 h2 {
  background-image: url(../images/get-quote.png);
}
/* line 660, ../sass/screen.scss */
#widgets .block#block-block-3 h2 {
  background-image: url(../images/abc.png);
}
/* line 666, ../sass/screen.scss */
#widgets .block#block-block-4 {
  margin-right: 0;
}
/* line 670, ../sass/screen.scss */
#widgets .block#block-block-4 h2 {
  background-image: url(../images/mr-widget.png);
}
/* line 676, ../sass/screen.scss */
#widgets .block a {
  color: #168ec9;
  text-decoration: none;
  font-size: 24px;
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  display: block;
}

/* line 688, ../sass/screen.scss */
#widgets2 {
  clear: both;
}
/* line 692, ../sass/screen.scss */
#widgets2 #block-block-6 {
  clear: both;
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #2c318b;
  line-height: 50px;
  text-align: center;
  background-color: white;
}
/* line 702, ../sass/screen.scss */
#widgets2 #block-block-6 img {
  vertical-align: baseline;
}
/* line 708, ../sass/screen.scss */
#widgets2 .view-brokers {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 714, ../sass/screen.scss */
#widgets2 .view-brokers .view-content {
  position: relative;
}
/* line 719, ../sass/screen.scss */
#widgets2 .view-brokers .views-row {
  position: relative;
  float: left;
  width: 50%;
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* line 728, ../sass/screen.scss */
#widgets2 .view-brokers .views-row:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: white;
}
/* line 741, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field {
  width: 36%;
  max-width: 250px;
  margin-left: 14%;
}
/* line 747, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field a {
  color: white;
  text-decoration: none;
}
/* line 752, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field a:hover {
  text-decoration: underline;
}
/* line 759, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-title {
  font-size: 18px;
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}
/* line 766, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-field-short-summary {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 772, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-field-short-summary p {
  margin-bottom: 0.8em;
}
/* line 778, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-path {
  font-size: 12px;
  font-style: italic;
}
/* line 784, ../sass/screen.scss */
#widgets2 .view-brokers .views-row .views-field-field-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}
/* line 797, ../sass/screen.scss */
#widgets2 .arrow-left,
#widgets2 .arrow-right {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
}
/* line 805, ../sass/screen.scss */
#widgets2 .arrow-left {
  left: 1.5%;
}
/* line 809, ../sass/screen.scss */
#widgets2 .arrow-right {
  right: 1.5%;
}

/* line 817, ../sass/screen.scss */
form .form-required {
  display: none;
}
/* line 826, ../sass/screen.scss */
form input[type=text],
form input[type=email],
form input[type=date],
form input[type=password],
form input[type=number] {
  line-height: 24px;
  padding: 0 6px;
  width: 180px;
  font-size: 15px;
  color: #2c318b;
}
/* line 837, ../sass/screen.scss */
form input[type=submit],
form input[type=button],
form button {
  background: transparent;
  border: 0;
  font-size: 24px;
  color: #2592ca;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "HelveticaNeue-CondensedBold", "TeX-Gyre-Heros", Helvetica, Arial, sans-serif;
}
/* line 849, ../sass/screen.scss */
form .webform-component {
  clear: left;
  overflow: hidden;
}
/* line 855, ../sass/screen.scss */
form .webform-component-radios .form-item {
  float: left;
  margin-right: 15px;
  margin-left: 1px;
}
/* line 864, ../sass/screen.scss */
form#user-login .description {
  display: none;
}

@media screen and (max-width: 1050px) {
  /* line 878, ../sass/screen.scss */
  #page-wrapper #page {
    margin-left: 40px;
    margin-right: 40px;
  }

  /* line 884, ../sass/screen.scss */
  .region-header {
    right: -8px;
    top: 5px;
  }

  /* line 890, ../sass/screen.scss */
  #widgets .block {
    margin: 0 5% 20px 5% !important;
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 720px) {
  /* line 902, ../sass/screen.scss */
  #block-block-5 {
    display: block;
  }

  /* line 909, ../sass/screen.scss */
  a#logo img.logo1 {
    display: none;
  }
  /* line 913, ../sass/screen.scss */
  a#logo img.logo2 {
    display: inline;
  }

  /* line 919, ../sass/screen.scss */
  #block-system-main-menu {
    display: none;
    position: absolute;
    z-index: 100;
  }
  /* line 925, ../sass/screen.scss */
  #block-system-main-menu .content > ul li.expanded:hover > div > a:before {
    display: none;
    content: "";
  }
  /* line 931, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul {
    display: block;
    position: static;
    padding-top: 0;
    margin-left: 0!important;
  }
  /* line 938, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul li a {
    font-size: 15px;
    padding-left: 85px;
  }
  /* line 945, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.active-trail > div {
    left: 0;
  }
  /* line 950, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.active-trail > div:before, #block-system-main-menu .content > ul > li.active-trail > div:after {
    left: 0;
  }
  /* line 955, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.active-trail > div a {
    margin-left: 0;
  }

  /* line 961, ../sass/screen.scss */
  .nav-open #block-system-main-menu {
    display: block;
  }

  /* line 966, ../sass/screen.scss */
  #page-wrapper {
    margin-left: 0;
  }

  /* line 971, ../sass/screen.scss */
  #page-wrapper #page {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* line 977, ../sass/screen.scss */
  .region-header {
    right: 0;
    top: 5px;
  }

  /* line 983, ../sass/screen.scss */
  #block-system-main {
    width: auto;
  }
}
@media screen and (max-width: 540px) {
  /* line 992, ../sass/screen.scss */
  a#logo {
    text-align: center;
    display: block;
  }
  /* line 997, ../sass/screen.scss */
  a#logo img {
    margin-top: 90px;
  }

  /* line 1003, ../sass/screen.scss */
  .region-header {
    position: absolute;
    width: 294px;
    left: 50%;
    right: auto;
    margin-left: -147px;
  }

  /* line 1012, ../sass/screen.scss */
  #widgets .block {
    margin: 0 1% 20px 1% !important;
    width: auto;
  }

  /* line 1019, ../sass/screen.scss */
  #block-system-main-menu {
    float: none;
    width: 100%;
    top: 90px;
  }
  /* line 1025, ../sass/screen.scss */
  #block-system-main-menu .content > ul {
    display: table;
    width: 100%;
  }

  /* line 1036, ../sass/screen.scss */
  .nav-open #main-wrapper,
  .nav-open #widgets,
  .nav-open #widgets2 {
    display: none;
  }
  /* line 1041, ../sass/screen.scss */
  .nav-open #page-wrapper {
    overflow: hidden;
  }
}
/* line 1049, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 1053, ../sass/screen.scss */
body {
  height: 100%;
  overflow: scroll;
}

/* line 1058, ../sass/screen.scss */
#page-wrapper {
  overflow: visible;
}

/* line 1062, ../sass/screen.scss */
#bg-wrapper {
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
